<!DOCTYPE html>
<html lang="en" style="background-color: rgba(0,0,100,.03);">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body style="background-color: rgba(0,0,100,.03);">
    <%- include('./partials/navbar.ejs') %> 

    <div class="container ">
        <div class="text-center mt-3">
            <h1>QUESTIONS</h1>
            <a href="/ask" class="btn btn-primary mt-2">Ask a question</a>
        </div>
        <% questions.forEach(question => {%>
            <div class="card mt-4">
                <div class="card-header">
                    <h3><%= question.title  %> </h3>
                </div>
                <div class="card-body">
                  <p><%= question.question %></p>
                </div>
                <div class="card-footer">
                    <div class="mb-3">
                        <span><%= question.author %></span>
                        <span class="float-end"><%= question.createdAt %></span>
                    </div>
                    <a href="/question/<%= question.id %>" class="btn btn-primary">Answer</a>
                  </div>
              </div>
        <% }) %> 
    </div>

</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</html>